aiofiles==23.2.1
aiohttp==3.9.2
aiosignal==1.3.1
altair==5.2.0
annotated-types==0.6.0
anyio==4.2.0
appdirs==1.4.4
async-timeout==4.0.3
atomicwrites==1.4.0
backports.weakref==1.0.post1
cachetools==5.5.2
clyent==1.2.2
conda-repo-cli==1.0.75
conda-verify==3.4.2
daal4py==2023.1.1
distro==1.9.0
et-xmlfile==1.1.0
exceptiongroup==1.2.0
fastapi==0.109.0
ffmpy==0.3.1
frozenlist==1.4.1
fsspec==2023.12.2
gitdb==4.0.12
GitPython==3.1.44
gpt-index==0.8.42
gradio_client==0.8.1
h11==0.14.0
hpack==4.0.0
httpcore==1.0.2
httpx==0.26.0
huggingface-hub==0.20.3
hyperframe==6.0.1
importlib-resources==6.1.1
inflection==0.5.1
jsonpointer==2.1
langchain==0.1.4
langchain-community==0.0.16
langchain-core==0.1.17
langsmith==0.0.84
lxml==5.3.0
markdown-it-py==3.0.0
MarkupSafe==2.1.4
matplotlib==3.9.2
mizani==0.7.3
mkl-service==2.4.0
multidict==6.0.4
munkres==1.1.4
openai==1.10.0
orjson==3.9.12
packaging==23.2
pep8==1.7.1
pipdeptree==2.13.2
ply==3.11
protobuf==4.25.3
pyasn1-modules==0.2.8
pydantic-core==2.14.6
pydeck==0.9.1
PyDispatcher==2.0.5
pydub==0.25.1
Pygments==2.17.2
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
python-multipart==0.0.6
pywin32==308
rich==13.7.0
ruff==0.1.14
semantic-version==2.10.0
shellingham==1.5.4
smmap==5.0.2
starlette==0.35.1
streamlit==1.45.0
TBB==0.2
tiktoken==0.5.2
tomlkit==0.12.0
typer==0.9.0
uvicorn==0.27.0
webencodings==0.5.1
websockets==11.0.3
yarl==1.9.4
